# Hugging Face token , get yours at https://huggingface.co/settings/tokens
HF_TOKEN=your_token_here

# Hugging Face repo IDs (change if you want to push to a different username/repo)
HF_PYTORCH_REPO=USERNAME/arabic-pii-detector
HF_ONNX_REPO=USERNAME/arabic-pii-detector-onnx
